* {
  margin: 0;
  padding: 0;
          box-sizing: border-box;
  border: 0;
  text-decoration: none;
  font-family: "Consolas", monospace;
}

*:focus {
  outline: none;
  border: none;
}

html, body {
  width: 100%;
  height: 100%;
  background: #e9e9e9;
}

#cal {
  width: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
          transform: translate(-50%, -50%);
  border-radius: 35px;
  padding: 30px;
  display: flex;
          flex-flow: row wrap;
          box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(0, 0, 0, 0.4);
}

#screens {
  width: 100%;
          box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(0, 0, 0, 0.4);
}

#screens #input-display, #screens #second-display {
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px 10px;
  font-size: 40px;
  text-align: right;
  display: flex;
          justify-content: flex-end;
          align-items: center;
  overflow: hidden;
  text-overflow: clip;
}

#screens #input-display {
  font-weight: bold;
}

#screens #second-display {
  height: 60px;
  font-size: 20px;
}

#keypads {
  width: 100%;
  display: flex;
          flex-flow: row nowrap;
  margin: 10px 0;
}

#keypads button {
  width: 55px;
  height: 55px;
  margin: 10px 6px;
  font-size: 20px;
  border-radius: 15px;
          box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#keypads button:hover {
  border-radius: 10px;
  background: linear-gradient(145deg, #c7c6c6, #ffffff);
          box-shadow: 5px 5px 10px #bfbfbf, -5px -5px 10px #ffffff;
}

#keypads .numbers {
  display: flex;
          flex-flow: row wrap-reverse;
}

#keypads .numbers #num0 {
          flex: 2;
}

#keypads .numbers .row {
  width: 100%;
  display: flex;
}

#keypads .operators {
  margin: 0 10px 0 10px;
}

#keypads .operators > * {
  color: #8ac926;
  font-size: 25px;
  font-weight: bold;
}

#keypads .functions #clear, #keypads .functions #result {
  font-weight: bold;
  background: #aacc00;
}

#keypads .functions #clear:hover, #keypads .functions #result:hover {
  background: linear-gradient(145deg, #aacc00, #ffffff);
          box-shadow: 0px 0px 5px #aacc00, 0px 0px 5px #ffffff;
}

#keypads .functions #backspace {
  background: #cf3131;
}

#keypads .functions #backspace:hover {
  background: linear-gradient(145deg, #cf3131, #ffffff);
          box-shadow: 0px 0px 5px #cf3131, 0px 0px 5px #ffffff;
}

#keypads .functions #backspace .fa-caret-left {
  font-size: 25px;
  color: white;
}

#keypads .functions #result {
  height: 44%;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  #cal {
    width: 270px;
    padding: 20px;
    border-radius: 20px;
  }
  #screens #input-display {
    font-size: 30px;
    height: 80px;
  }
  #screens #second-display {
    height: 40px;
  }
  #keypads button {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    margin: 8px 4px;
  }
  #keypads .numbers {
    font-size: 10px;
  }
  #keypads .operators > * {
    font-size: 20px;
  }
  #keypads .functions #backspace .fa-caret-left {
    font-size: 20px;
  }
  .me #myLogo {
    width: 30px;
    height: 30px;
  }
}

/* MY WEBSITE */
.me {
  position: absolute;
  top: 2vh;
  right: 2vw;
  z-index: 100;
  cursor: pointer;
}

#myLogo {
  width: 45px;
  height: 45px;
}
/*# sourceMappingURL=to.css.map */